
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #bc4ed8;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

h2.titulo span{
    color: #bc4ed8;
}

button:hover, form .btn-enviar input:hover{
    transform: scale(1.05);
}

/* ESLILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
   color: #fff;
   text-decoration: none;
   transition: .2s;
}

header a:hover{
    color: #bc4ed8;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
   display: inline-block; 
   padding: 0 40px;
}

/*ESTILO DO TOPO DO SITE*/
    section.topo-do-site{
        padding: 40px 4%;
    }

    section.topo-do-site .flex{
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .topo-do-site h1{
        color: #fff;
        font-size: 36px;
        line-height: 40px;
    }

    .topo-do-site .txt-topo-site p{
      color: #fff;
      margin: 40px 0;
    }

    /* ESTILO DAS ESPECIALIDADES */
    section.especialidades{
        padding: 40px 4%;
    }

    section.especialidades .flex{
        gap: 60px;
    }

    .especialidades .especialidades-box{
        color: #fff;
        padding: 40px;
        border-radius: 20px;
        margin-top: 45px;
        transition: .2s;
    }

    .especialidades .especialidades-box:hover{
        transform: scale(1.05);
        box-shadow: 0 0 8px #bc4ed8;
    }

    .especialidades .especialidades-box i{
        font-size: 44px;
        color: #bc4ed8;
    }

    .especialidades .especialidades-box h3{
        font-size: 20px;
        margin: 15px 0;
    }

    /* ESTILO DO SOBRE */
    section.sobre{
        padding: 90px 4%;
    }

    section.sobre .flex{
        align-items: center;
        gap: 10px;
    }

    .sobre .txt-sobre{
        color: #fff;
    }

    .sobre .txt-sobre h2{
        font-size: 27px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .sobre .txt-sobre h2 span{
      color: #bc4ed8; 
      display: block; 
    }

    .sobre .txt-sobre p{
        margin: 10px 0;
        text-align: justify;
    }

    .btn-social button{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        background-color: #bc4ed8;
        font-size: 20px;
        cursor: pointer;
        margin: 0 05px;
        transition: .2s;
    }

    /* ESTILO DO PORTIFÓLIO */
    section.portifolio{
        padding: 80px 4%;
        box-shadow: 0 0 10px 05px #ffffff25;
    }

    section.portifolio .flex{
        justify-content: space-around;
    }

    section.portifolio .interface h2{
        margin: 40px 0;
    }
    

    .img-port{
        width: 360px;
        height: 460px;
        background-size: cover;
        background-position: 100% 0%;
        transition: 8s;
        cursor: pointer;
        border-radius: 40px;
       
    }

    .img-port:hover{
        background-position: 100% 100%;  
    }
    
    /* ESTILO DO FORMULÁRIO DE CONTATO */
    section.formulario{
        padding: 80px 4%;
    }

    form{
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }

    form input, form textarea{
        width: 100%;
        background-color: rgb(34, 33, 33);
        border: 0;
        outline: 0;
        padding: 20px 15px;
        border-radius: 15px;
        color: #fff;
        font-size: 15px;
    }

    form textarea{
        resize: none;
        max-height: 200px;
    }

    form .btn-enviar{
        margin-top: 20px;
        text-align: center;
    }

    form .btn-enviar input{
        width: 120px;
        background-color: #bc4ed8;
        color: black;
        font-weight: 700;
        cursor: pointer;
        transition: .2s;
    }

 /*ESTILO DO RODAPÉ  */
 footer{
    padding: 40px 4%;
    box-shadow: 0 0 10px 05px #ffffff25;
 }

 footer .flex{
    justify-content: space-between;
 }

 footer .line-footer{
    padding: 20px 0;
 }

 .borda{
    border-top: 2px solid #bc4ed8;
 }

 footer .line-footer p i{
    color: #bc4ed8;
    font-size: 22px;
 }

 footer .line-footer p a{
    color: #fff;
 }

